{{yield}}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div  class='login-form'>
			<div class="row prefix-radius">
				<div class="small-3 columns">
					<span class="prefix">Email</span>
				</div>
				<div class="small-9 columns">
					{{input type="email" value=user.email placeholder="Email" autocomplete="on"}}
				</div>
			</div>
			<div class="row prefix-radius">
				<div class="small-3 columns">
					<span class="prefix">Password</span>
				</div>
				<div class="small-9 columns">
					{{input type="password" value=user.password placeholder="Password"}}
				</div>
			</div>
			<div class="row" style='margin-top:30px'>
				<div class="small-9 columns small-centered">
						<div  {{action 'login'}} class="button expanded">Login to Hockey</div>
				</div>
			</div>
		</div>
	</div>
</div>
