$white           : #fff;
$black           : #000;
$lightgreen      : #74d89a;
$darkgreen       : #27a5a8;
$midgreen        : #27a896;
$lightseagreen   : #27a86b;
$consolegreen    : #00cc00;
$primaryblue     : #66afe9;
$bg-gradient     : linear-gradient(to right, $lightgreen, $midgreen);
$navbar-color    : $white;
$btn-color       : linear-gradient(to left, $midgreen, $lightseagreen);
$btn-active-color: linear-gradient(to bottom right, $midgreen, $lightseagreen);
$sidebar-color   : #252e30;
$status-bar-color: #f0f0f0;
$border-radius   : 2px;
$border-color    : #ccc;
$icon-color      : #606060;

$title-font      : 'Monoton', cursive;
$roboto-font     : 'Roboto', sans-serif;
$lato-font       : 'Lato', sans-serif;
$font-large      : 3.5rem;
$font-vlarge     : 4.25rem;
$font-medium     : 1.85rem;
$font-small      : 1.25rem;
