@import "settings";
@import 'foundation';
@include foundation-everything;
@import "loader";



.console-output{
	height: 100px;
	overflow-y: scroll;
	max-height: 100px;  
}

.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:12px;
}
.info {
	color: #00529B;
}
.success {
	color: #4F8A10;
}
.warning {
	color: #9F6000;
}
.error {
	color: #D8000C;
}

.login-form{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(245,229,223,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(245,229,223,1);
	box-shadow: 0px 0px 7px 0px rgba(245,229,223,1);
	padding:20px;
	background-color:#f2f2f2;
}