body {
  font-family: $roboto-font;
  background : $bg-gradient;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato-font;
}

.navbar {
  background   : $navbar-color;
  padding      : 10px 50px;
  border-radius: $border-radius;
  border       : none;
  border-bottom: 1px solid #f0f0f0;
}

.navbar-brand {
  color         : $lightseagreen !important;
  font-family   : $title-font;
  font-weight   : 600;
  font-size     : $font-large;
  letter-spacing: 5px;

  small {
    font-size: 2.75rem;
  }
}

.well {
  background   : $white;
  border-radius: $border-radius;
  border       : 1px solid $border-color;
  box-shadow   : none;
}

.btn {
  font-family  : $lato-font;
  font-weight  : 600;
  border-radius: $border-radius;
}

.btn-success {
  background: $btn-color;
  border    : 1px solid #019c70;

  &:active {
    background: $btn-active-color;
  }
}

.underlined {
  font-weight: bold;
  text-align : center;
}

.underlined:after {
  content   : '';
  background: rgba(0,0,0,0.25);
  height    : 1px;
  width     : 25px;
  display   : block;
  margin    : 10px auto;
}

input {
  border       : 1px solid $lightgreen !important;
  box-shadow   : none !important;
  border-radius: $border-radius !important;
  padding      : 20px 10px !important;
  height       : auto;

  &:focus {
    border: 1px solid $primaryblue !important;
  }
}

#login-form {
  margin-top: 40%;

  .title {
    @extend .text-center;
    color        : $white;
    font-size    : $font-vlarge;
    margin-bottom: 50px;
    font-family  : $title-font;
  }

  form {
    padding: 15px 0;
  }

  .btn-success {
    padding: 12px 20px;
  }
}

.left-fixed {
  position    : fixed;
  top         : 0;
  left        : 0;
  height      : 100%;
  padding-top : 75px;
  border-right: 1px solid #f0f0f0;
  background  : $sidebar-color;

  .btn {
    background: transparent;
    padding   : 12px 25px;
    margin-top: 20px;
  }

  .btn-primary {
    border: 2px solid $primaryblue;
    color : $primaryblue;

    &:focus,
    &:hover {
      border    : 2px solid $primaryblue;
      color     : $white;
      background: $primaryblue;
    }
  }
}

.right-relative {
  position  : absolute;
  top       : 0;
  right     : 0;
  height    : 100%;
  background: $white;

  .message {
    @extend .text-center;
    margin-top: 35%;
  }
}

.profile {
  @extend .text-center;
  margin-bottom: 150px;

  img.avatar {
    width        : 75px;
    height       : 75px;
    border-radius: 10rem;
    border       : 3px solid $white;
  }

  #name {
    display   : block;
    margin-top: 15px;
    color     : $white;
    font-size : $font-medium;
  }
}

i.form-control-feedback {
  color: $icon-color;
}

.loader {
  @extend .text-center;
  font-size: $font-medium;
  color    : $black;
}

#file-loader {
  margin-top: 35%;
}

.status-bar {
  position  : absolute;
  bottom    : 0;
  left      : 0;
  width     : 100%;
  padding   : 5px;
  background: $status-bar-color;
}

.console-output {
  background: $black;
  margin-top: 20px;
  padding   : 20px;
  font-size : $font-small;
  max-height: 500px;
  overflow-y: scroll;

  .success {
    color: $consolegreen;
  }
}

#logout {
  border    : 1px solid #404040;
  color     : #505050;
  margin-top: 7px;
  padding   : 7px 17px;

  &:focus,
  &:hover {
    color     : $white;
    background: $sidebar-color;
  }
}
