<div class="row">
	<div class="col-sm-3 left-fixed">
  	{{sidebar-component user=user open=(action 'open') clean=(action 'clean')}}
	</div> 
	<div class="col-sm-9 right-fixed">
  	 {{outlet}}
	</div> 
 
</div>

