{{outlet}}

 <h1>Hello World!</h1>



<div>{{path}}</div>

{{multiselect-checkboxes
    options=buildTypes
    labelProperty='name'
    selection=selectedTypes}}

{{#each buildTypes as |type|}}
  {{build-type type=type}}
{{/each}}

