{{outlet}}
<div class="row" style='margin-top:10%'>
	<div class="large-6 small-10 medium-6 columns small-centered medium-centered large-centered">
		<div  class='login-form'>
			<div class="row collapse prefix-radius">
				<div class="small-3 columns">
					<span class="prefix">Email</span>
				</div>
				<div class="small-9 columns">
					<input type="email" placeholder="Email">
				</div>
			</div>
			<div class="row collapse prefix-radius">
				<div class="small-3 columns">
					<span class="prefix">Password</span>
				</div>
				<div class="small-9 columns">
					<input type="password" placeholder="Password">
				</div>
			</div>
			<div class="row" style='margin-top:30px'>
				<div class="small-9 columns small-centered">
						<div  class="button expanded">Login to Hockey</div>
				</div>
			</div>
		</div>
	</div>
</div>